:root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-shadow: 0.5px 0.5px 0.5px darkorchid;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.fit-page {
    @media screen and (min-width: 1024px) {
            overflow: hidden;

    }
}

.queer {    
    background: linear-gradient(to bottom, 
        rgba(255, 0, 0, 0.2),   /* Rot mit 50% Transparenz */
        rgba(255, 127, 0, 0.2), /* Orange mit 50% Transparenz */
        rgba(255, 255, 0, 0.2), /* Gelb mit 50% Transparenz */
        rgba(0, 255, 0, 0.2),   /* Grün mit 50% Transparenz */
        rgba(0, 0, 255, 0.2),   /* Blau mit 50% Transparenz */
        rgba(75, 0, 130, 0.2),  /* Indigo mit 50% Transparenz */
        rgba(148, 0, 211, 0.2)   /* Violett mit 50% Transparenz */
    );
    background-attachment: fixed;
}

.autism {
    background: linear-gradient(to bottom right, 
        rgba(156, 0, 177, 0.4),
        rgba(10, 9, 90, 0.897)
    );
    background-color: rgba(0,0,0, 0.2);
    background-attachment: fixed;
}

.fanfiction {
    background: linear-gradient(to bottom right, 
        rgba(255, 212, 69, 0.8),
        rgba(35, 79, 199, 0.8)
    );
    background-attachment: fixed;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;

    @media screen and (min-width: 680px) {
        width: 85%;
    }

    @media screen and (min-width: 1512px) {
        width: 70%;
    }

    @media screen and (min-width: 1921px) {
        width: 50%;
    }

}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
    /* Breite der Items festlegen */
}