:root {
    height: 100%;
}

a {
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: inherit;
}
a:hover {
    text-shadow: 1px 1px 1px cyan; /* ToDo! */
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
}

.fit-page {
    overflow: hidden;
}

.queer {    
    background: linear-gradient(to bottom, 
        rgba(255, 0, 0, 0.2),   /* Rot mit 50% Transparenz */
        rgba(255, 127, 0, 0.2), /* Orange mit 50% Transparenz */
        rgba(255, 255, 0, 0.2), /* Gelb mit 50% Transparenz */
        rgba(0, 255, 0, 0.2),   /* Grün mit 50% Transparenz */
        rgba(0, 0, 255, 0.2),   /* Blau mit 50% Transparenz */
        rgba(75, 0, 130, 0.2),  /* Indigo mit 50% Transparenz */
        rgba(148, 0, 211, 0.2)   /* Violett mit 50% Transparenz */
    );
    background-attachment: fixed;
}

.autism {
    background: linear-gradient(to bottom right, 
        rgba(156, 0, 177, 0.4),
        rgba(29, 2, 48, 0.8)
    );
    background-color: rgba(0,0,0, 0.2);
    background-attachment: fixed;
}

.fanfiction {
    background-color: rgba(7, 7, 80, 0.329);
    color: rgb(255, 215, 84);
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;

    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    list-style-type: none;
    /* Breite der Items festlegen */
}